
#search-result {
   /* width:100px;*/
    display: flex;
    direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    width: 100%;
}
#search-result h2,h3 {
    font-size: 20px;
    color:green;
}
#search-result img {
    width: 70%;
}
#showMeal {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap-reverse ;
    
}